body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 39px;
    font-weight: 400;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 71px;
}

h1, .title, .label {
    font-weight: 700;
}
.expenses{
    margin-top: 37px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 51px;
}
.expenses__input {
    width: 484px;
}
.moneyInput {
    
    display: flex;
    padding: 10px 17px 9px 22px;
    border: 2px solid black;
}
.moneyInput__input {
    width: 100%;
}
.rub:after {
    content: " руб.";
}
.categorySelect{
    margin-top: 18px;
    width: 484px;
    height: 58px;
    padding-left: 22px;
    border: 1px solid black;
}
.add-button {
    height: 58px;
    padding: 10px 110px 9px 109px;
    background-color:#2196f3;
    color: white;
}
.text{
    font-weight: 400;
}
.expenses__sum{
    width: 484px;
}
.expenses__limit {
    margin-bottom: 13px;
    display: flex;
}
.stats__total {
    margin-bottom: 35px;
    display: flex;
}
.status, .status__positive {
    color:green;
    font-weight: 400;
}
.status__negative {
    color:red;
    font-weight: 400;
}
.stats__history {
    width: 370px;
}
.button-reset {
    padding: 10px 82px 10px 82px;
    background-color: red;
    color: white;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.popup__open {
    opacity: 1;
    visibility: visible;
}
.popup__content {
    position: relative;
    width: 777px;
    max-height: 100%;
    padding: 94px 74px 86px 55px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 10px;
}
.popup__close-btn {
    position: absolute;
    top: 32px;
    right: 34px;
    width: 50px;
    height: 50px;
    padding-block: 0px;
    padding-inline: 0px;
    border: none;
    background-size: cover;
    background-image: url('./img/img_popup-close.png');
    cursor: pointer;
}
.popup__input {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px 17px 9px 22px;
    border: 2px solid black;
}
.popup__button {
    padding: 10px 77px 9px 77px;
    color: white;
    background-color: #2196f3;
}